<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body class="flex-column">
    <%- include("./partials/glassBg") %>
    <div class="form | flex-column">
      <p class="title-info | title">I go to school</p>
      <button id="signInBtn" class="btn-logo"> <img src="/google-logo.png"/> Signing with Google</button>
      <p class="title | message"><%= message %></p>
    </div>
  </body>
</html>